@import url('https://use.typekit.net/ibg3llw.css');
@import 'normalize.css';
@import 'screen-reader';
@import 'rem-calc';

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$breakpoint-xs: rem-calc(576);
$breakpoint-md: rem-calc(768);
$breakpoint-lg: rem-calc(992);

// -----------------------------------------------------------------------------
// Root
// -----------------------------------------------------------------------------

:root {
  --color-blue: #27384a;
  --color-gold: #d9cc98;
  --color-cream: #fff6e8;
  --color-green: #aebbb1;
  --color-text: var(--color-blue);
  --fontFamily-sans: canada-type-gibson, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-sans-alt: termina, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans-alt);
  --fontSize-root: #{$rem-base};
  --lineHeight-normal: 1.5;
  --spacing-1: #{rem-calc(24)};
  --spacing-2: #{rem-calc(44)};
  --spacing-3: #{rem-calc(96)};

  @media (min-width: 1366px) {
    --fontSize-root: 1.1713vw;
  }

  @media (min-width: 1920px) {
    --fontSize-root: 22.489px;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

// -----------------------------------------------------------------------------
// Structure
// -----------------------------------------------------------------------------

html {
  font-size: var(--fontSize-root);
  line-height: var(--lineHeight-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  background-color: var(--color-blue);
  color: var(--color-text);
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

p {
  margin: 0;
}

// -----------------------------------------------------------------------------
// Headers
// -----------------------------------------------------------------------------

h1,
h2,
h3 {
  line-height: 1.25;
  font-family: var(--font-heading);
}

h2 {
  margin-top: 0;
  margin-bottom: rem-calc(18);
  font-weight: normal;
  font-size: rem-calc(18);

  strong {
    font-weight: bold;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: rem-calc(13);
}

// -----------------------------------------------------------------------------
// Screen Reader Utils
// -----------------------------------------------------------------------------

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

// -----------------------------------------------------------------------------
// Container
// -----------------------------------------------------------------------------

.container {
  padding: 0 var(--spacing-2);
}

// -----------------------------------------------------------------------------
// Region Header
// -----------------------------------------------------------------------------

.region__header {
  position: relative;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  padding-top: var(--spacing-1);
  background-color: var(--color-blue);
  
  @media (min-width: $breakpoint-md) {
    padding-top: var(--spacing-3);
    padding-bottom: rem-calc(12);
    background-color: transparent;
  }
}

.fifty-seven-logo {
  width: rem-calc(192);
  height: rem-calc(43);

  @media (min-width: $breakpoint-md) {
    width: rem-calc(340);
    height: rem-calc(77);
  }
}

// -----------------------------------------------------------------------------
// Main Heading
// -----------------------------------------------------------------------------

.main__heading {
  position: relative;
  z-index: 5;
  max-width: rem-calc(272);
  font-weight: 500;
  font-size: rem-calc(18);
  color: var(--color-cream);

  strong {
    font-weight: bold;
  }

  @media (min-width: $breakpoint-md) {
    max-width: rem-calc(512);
    font-size: rem-calc(24);
    margin-top: 0;
  }
}

// -----------------------------------------------------------------------------
// Region Footer
// -----------------------------------------------------------------------------

.region__footer {
  position: relative;
  z-index: 3;

  @media (min-width: $breakpoint-md) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .wrapper {
    @media (min-width: $breakpoint-md) {
      display: flex;
      align-items: flex-end;
    }
  }
}

.signup {
  position: relative;
  min-height: 19vh;
  padding: rem-calc(14 44 32);
  background-color: var(--color-blue);
  color: var(--color-cream);
  
  @media (min-width: $breakpoint-md) {
    padding-top: rem-calc(28);
    width: 65%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 52%;
  }
}

.information {
  order: -1;
  min-height: 15vh;
  padding: rem-calc(28 44 22);
  background-color: var(--color-green);

  @media (min-width: $breakpoint-md) {
    width: 35%;
  }
  
  @media (min-width: $breakpoint-lg) {
    width: 48%;
  }

  .continuum-logo {
    display: block;
    margin-bottom: rem-calc(7);
    width: rem-calc(130);
    height: rem-calc(13);
    
    @media (min-width: $breakpoint-md) {
      width: rem-calc(175);
      height: rem-calc(18);
    }
  }

  .footer__address {
    font-family: var(--font-heading);
    margin-bottom: rem-calc(12);
    font-size: rem-calc(18);
  }
  
  .footer__copyright {
    display: flex;
    align-items: center;
    font-size: rem-calc(12);
    letter-spacing: 0.04em;
    color: var(--color-cream);
  }

  .lcor-logo {
    width: rem-calc(43);
    height: rem-calc(11);
    padding-right: rem-calc(8);
  }
}

// -----------------------------------------------------------------------------
// Mailchimp Form
// -----------------------------------------------------------------------------

.form {
  h3 {
    margin-bottom: rem-calc(18);
  }

  a {
    text-decoration: none;
    color: var(--color-cream);

    &:hover {
      text-decoration: underline;
    }
  }

  .components {
    @media (min-width: $breakpoint-md) {
      display: flex;
      margin: rem-calc(0 -5);

      & > * {
        flex-grow: 1;
        margin: rem-calc(0 5);
      }
    }
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(6);
    height: rem-calc(30);
    font-size: rem-calc(14);
    line-height: 1;
    border: none;
    appearance: none;
    border-radius: 0;
    padding: 0 1em;
    font-family: var(--font-body);
    background-color: var(--color-cream);
    color: var(--color-blue);

    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }

    &::placeholder {
      color: inherit;
    }

    &:focus {
      outline: none;

      &::placeholder {
        opacity: 0.5;
      } 
    }
  }

  .MuiButton-root {
    min-width: rem-calc(125);
    margin-top: 10px;
    font-size: rem-calc(12);
    font-weight: 600;
    line-height: 1;
    padding: rem-calc(8) 0 rem-calc(6);
    outline: 1px solid var(--color-cream);
    outline-offset: -1px;
    
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
      margin-left: rem-calc(10);
    }

    &:hover {
      background-color: #b5aa7c !important;
    }
  }

  .confirmation-message {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: rem-calc(28 44 32);
    font-family: var(--font-heading);
    flex-direction: column;
    justify-content: center;
    transition: 0.3s linear;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-blue);

    h3,
    p {
      font-size: rem-calc(18);
    }

    h3 {
      margin-bottom: rem-calc(8);
    }

    &.show {
      visibility: inherit;
      opacity: 1;
    }
  }
}

// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------

@import 'carousel';
